body{
    background-color: white;
}
header{
   text-align: center;
}
.contenedor{
    background-color:grey;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    
    
}
.tarjeta1{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}
.tarjeta1_encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imagen{
    width: 100%;
    object-fit: cover;
}
p{
    text-justify: inherit;
}